.splash {
     background-image: url('./images/background.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     height: 100%;
     width: 100%;
     margin: 0:
 }


h3 {
  margin-top: 0;
}

.center-text {
  margin-left: 40%;
  margin-right: 40%;
  color: white;
  text-align: center;
  font-size: 40px;
}


 .fixed {
 width: 200px;
 position: fixed;
 top: 10px;
 bottom:0px;
 right:0px;
 left:auto;
}

#map {
       height: 100%;
       width: 100%;
       border: solid black 5px;
     }
     /* Optional: Makes the sample page fill the window. */
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }

.wrapper1 {
  height: 50%;
  width: 100%;
  background: red;
  padding-left: 10%;
  padding-right: 10%;
}
.wrapper2 {
  height: 50%;
  width: 100%;
  background: blue;
  padding-left: 10%;
  padding-right: 10%;
}

.map-wrapper {
  background: grey;
  height: 35%;
  width: 80%;
  margin: 0 auto; 
}

#inner {
    width: 50%;
}

footer {
  margin-bottom: 0;
  background: black;
  padding-bottom: 10px;
}

.img-circle {
  border-radius: 50%;
}
